<main>
  <div class="container main-container error-container">
    <div class="columns">
      <div class="column is-full">
        <h1 class="title has-text-centered">システムエラーが発生しました</h1>
        <div class="error-content">
          <h2 class="subtitle has-text-centered">下記のエラーが発生しました</h2>
          <pre><%= @error_msg %></pre>
        </div>
      </div>
    </div>
  </div>
</main>
