<main>
  <div class="container main-container">
    <form action="/create" method="post" onsubmit='return copyContent()' enctype="multipart/form-data">
      <div class="columns">
        <div class="column is-half">
          <label class="label is-medium">
            Data.yml&nbsp;&nbsp;
            <a href="https://qiita.com/kaityo256/items/e3884d0109223c324baf"
              class="button is-small is-info is-outlined" target="_blank">
              書式
            </a>
            <span class="is-pulled-right">
              <button class="button is-small is-primary is-outlined" id="photoBtn" type="button">写真をアップ</button>
              <input type="file" class="photo-area" id="photoInput"
                name="photo" accept="image/*" capture="camera">
            </span>
          </label>
          <div class="control">
            <pre><code id="data_yml_code" class="yaml code-area" contenteditable="true"><%= @data_yml %></code></pre>
            <textarea class="textarea" name="data_yml" style="display:none"
              placeholder="data.yml" rows="15"></textarea>
          </div>
        </div>
        <div class="column is-half">
          <label class="label is-medium">
            Style.txt&nbsp;&nbsp;
            <a href="https://qiita.com/kaityo256/items/e3884d0109223c324baf"
              class="button is-small is-info is-outlined" target="_blank">
              書式
            </a>
          </label>
          <div class="control">
            <pre><code id="style_txt_code" class="csv code-area" contenteditable="true"><%= @style_txt %></code></pre>
            <textarea class="textarea" name="style_txt" style="display:none"
              placeholder="style.txt" rows="15"></textarea>
          </div>
        </div>
      </div>
      <button class="button is-large is-primary is-fullwidth" type="submit">
        <strong>送&nbsp;&nbsp;&nbsp;&nbsp;信</strong>
      </button>
    </form>
  </div>
</main>
