<footer class="footer">
  <div class="content has-text-centered">
    <p class="has-text-grey-light">
      <a href="https://bulma.io/made-with-bulma/">
        <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
      </a>
    </p>
    <p class="has-text-grey-light">
      <small class="has-text-grey">Copyright (c) 2019 Juliana Caesaris Augusta.</small>
    </p>
  </div>
</footer>
