<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">-->
      <h1><strong><%= @title %></strong></h1>
    </a>

    <div class="navbar-item is-hidden-desktop">
      <a class="button is-light is-hidden-desktop" href="https://github.com/jerrywdlee/yaml_2_resume">
        <span class="icon">
          <i class="fab fa-github"></i>
        </span>
      </a>
    </div>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" href="https://github.com/jerrywdlee/yaml_2_resume">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span>GitHub</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

